<%- include ../header.html %>
<style type="text/css">
    body{
        margin: 0;padding: 0;
    }
    h5{padding-bottom: 0px;border-bottom: none}
</style>
<div id="header" class="text-center">
    <div id="header_content">
        <a id="back" href="/"><span class="glyphicon glyphicon-chevron-left hide" style="color:#428BCA"></span></a>
        <h5>编辑</h5>
    </div>
</div>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form role="form"  method="post" action="/edit/<%= openid %>/<%= id %>">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="content" placeholder="说说" ><% if(post && post.content) {%><%= post.content %> <% } %></textarea>
                </div>
                <% if (post && post.wx_imge_url) {%>
                <div class="form-group">
                    <input type="text" name="number" class="form-control" placeholder="参赛号码">
                </div>
                <div class="form-group">
                    <img src="<%= post.wx_imge_url %>" class="img-responsive ">
                </div>
                <% }%>
                <button type="submit"  name="action"  value="save" class="btn btn-default btn-primary btn-lg">保存</button>
                <button type="submit"  name="action"  value="delete" class="btn btn-default btn-lg">删除</button>
            </form>
        </div>
    </div>
</div>
<%- include ../footer.html %>

