<%- include header.html %>

<div class="container">
    <form class="form-signin" role="form" method="post" action="/getpassword">
        <h2 class="form-signin-heading">找回密码</h2>
        <input type="email" name="email" class="form-control" placeholder="请输入邮箱" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">找回密码</button>
        <div>
            <a  href="/signin">返回</a>
        </div>
    </form>
</div> <!-- /container -->
<%- include footer.html %>





