<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="喜爱慢跑是一个慢跑爱好者分享慢跑经验图片的网站，你可以在这儿签到打卡，分享慢跑，比赛经验等">
    <meta name="keywords" content="慢跑，马拉松比赛，健身跑">
    <meta property="qc:admins" content="3323275377647652776375" />
    <meta property="wb:webmaster" content="c5641d67e0876a7d" />

    <html xmlns:wb="http://open.weibo.com/wb">
    <meta name="author" content="lovejog">
    <title>
        喜爱慢跑-随时随地分享身边的慢跑事儿
    </title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1120024586" type="text/javascript" charset="utf-8"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-48214929-1']);
        _gaq.push(['_trackPageview']);
    </script>
</head>
<body>



