<%- include header.html %>
<div class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/logo/logo.png" alt="LoveJog" class="logo"/>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-home" style="color:#dd1111;"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <ul class="nav navbar-nav navbar-right">
                <% if (user){%
                    <li><a href="/logout"><i class="glyphicon glyphicon-user"></i>注销</a></li>
                <%} else {%>
                    <li>
                        <a href="/signin"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i>登录</a>
                    </li>
                    <li>
                        <a href="/signup"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i>注册</a>
                    </li>
                <%>

               <!-- <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                        <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                        <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                        <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                        <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                    </ul>
                </li>
                <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
                -->
                <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </div>

    </div>
</div>

<!--main-->
<div class="container" id="main">
    <div class="row" id="ms-container">
        <% if(page < 0) { %>
        <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
            <div class="well card">
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="padding:14px;margin-bottom:0">
                        <textarea class="form-control" placeholder="说说你身边关于慢跑的新鲜事"></textarea>
                    </div>
                    <div>
                        <div class="m7">
                            <div class="mB k7"></div>
                            <div class="mB l7"></div>
                        </div>
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                    <div class="text"></div>
                                    文字
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="photo lp"></div>
                                    图片
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="link lp"></div>
                                    链接
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="event lp"></div>
                                    活动
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
            <div class="panel panel-default">
                <div class="panel-heading"><a class="pull-right" href="#">更多</a> <h4>和大家一起跑</h4></div>
                <div class="panel-body">
                    <div class="media">
                        <a  class="pull-left">
                           <img src="/images/photo.jpg" class="media-object" />
                        </a>

                        <div class="media-body">
                            <p class="media-heading">上海浦东世纪公园<a href="#"
                                                                class="btn btn-default btn-sm pull-right">参加</a></p>
                            <small class="text-info">12人</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% posts.forEach(function(post){ %>
        <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
            <div class="card">
                <div class="card-heading image">
                    <a href=""> <img src="/images/photo.jpg" class="media-object" />
                    </a>
                    <div class="card-heading-header">
                        <h3>
                            <% if (post.title) { %>
                            <%= post.title %>
                            <% } %>
                        </h3>
                        <span>
                            <% if (post.source == 'wx'){ %>
                            <a title="发布于微信公众号[lovejog]">来源于微信</a>
                            <% } %>
                            <%= moment(post.posted).fromNow() %>
                        </span>
                    </div>
                </div>
                <% if (post.content) { %>
                <div class="card-body">
                    <p>
                        <%= post.content %>
                    </p>
                </div>
                <% } %>

                <% if (post.sync == 1 && post.qiniu_img_url ) { %>
                <div class="card-media text-center">
                    <a href="" class="card-media-container　text-center ">
                        <img src="<%= qiniu_host %>/<%= post.qiniu_img_url %>?imageView2/2/w/450" class="img-responsive ">
                    </a>
                </div>
                <% } else if (post.wx_imge_url) { %>
                <div class="card-media text-center">
                    <a href="" class="card-media-container ">
                        <img src="<%= post.wx_imge_url %>" class="img-responsive ">
                    </a>
                </div>
                <% } %>
                <div class="card-actions hide">
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default" onclick="" >+1</button>
                                <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                <a class="btn btn-default" href="/post/<%= post._id %>" target="_blank">评论</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
        <!--/row-->

        <div id="nextpage" class="text-center"><a href="/?page=2">加载更多...</a></div>
        <div class="loading" class="text-center">

        </div>
        <!--page-nav end-->
    </div>


</div>
<%- include footer.html %>