<%- include header.html %>

<!--main-->
<div class="container" id="main">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="center-block">


                <form class="form-signin" role="form" method="post" action="/login">
                    <h4> 登录 Lovejog.com</h4>
                    <input type="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="密码" required>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

                    <div>
                        <a href="/getpassword">忘记密码</a> <a class="pull-right" href="/signup">还没有帐号，请注册</a>
                    </div>

                    <a href="/auth/qq" class="btn btn-lg btn-default btn-block" type="submit">使用QQ登录</a>

                    <a href="/auth/weibo" class="btn btn-lg btn-default btn-block" type="submit">使用weibo登录</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /container -->
<%- include footer.html %>





