<%- include header.html %>


<div class="col-lg-6">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Legend</legend>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputEmail">Email</label>
                    <div class="col-lg-10">
                      <input type="text" placeholder="Email" id="inputEmail" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputPassword">Password</label>
                    <div class="col-lg-10">
                      <input type="password" placeholder="Password" id="inputPassword" class="form-control">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Checkbox
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="textArea">Textarea</label>
                    <div class="col-lg-10">
                      <textarea id="textArea" rows="3" class="form-control"></textarea>
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>
                    <div class="col-lg-10">
                      <div class="radio">
                        <label>
                          <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
                          Option one is this
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
                          Option two can be something else
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="select">Selects</label>
                    <div class="col-lg-10">
                      <select id="select" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <br>
                      <select class="form-control" multiple="">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default" type="reset">Cancel</button>
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

<!--main-->
<div class="container" id="main">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="center-block">
                <form class="form-signin" role="form" method="post" action="/login">
                    <h4> 登录 Lovejog.com</h4>
                    <input type="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="密码" required>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

                    <div>
                        <a href="/getpassword">忘记密码</a> <a class="pull-right" href="/signup">还没有帐号，请注册</a>
                    </div>

                    <a href="/auth/qq" class="btn btn-lg btn-default btn-block" >使用QQ登录</a>

                    <a href="/auth/weibo" class="btn btn-lg btn-default btn-block">使用weibo登录</a>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- /container -->
<%- include footer.html %>





