<%- include header.html %>
<body>
<div class="container">
    <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
        <div class="card">
            <div class="card-heading image">
                <img alt="46x46"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAYAAABXuSs3AAAB3UlEQVRoge3U3VLaUBiFYe//UlZiovwJFluhrQa0gkX5GwuBiWNCsvctvD3QttaDOqAzxXYfrINkstf3TOZLdqy1vMXs/G2Ag7+VOLiDO/iWxsEd3MG3NA7u4P893KRT2qGQRPUiofhxP5vRO64RSkg+++/OWRTPD3ytvmfgGTef9pCeDCpu+XroI4U0O32uBj2ikwviZ+Gv1/dH+OrbKSW/RufLId6jQcXyjLJEcDwlMwbz80xB0m/gyaPRTyjSMa1AqBwxW5kN+jaB53Oiik+lG3M3PfptUDZuIgm/VGJXQgppRFNSY7FFQr/hIb9OuxkglenMc8ymfevBC5LeAV54zHWcEA8OkUQ5uiHJCtLR/bWC9/TGQ7p1HymgfZNjraVI+jQ8PZyZk7+wby34/OTXLj5Oubsgm39mT8JrTlhZw+3lAZKoD+4w1pLHZ1Qeng9bE1Lzsr414IZsMWU0HDIcDrmKqkhir9Vnslxh8jmn+0JBk/PrK6K6d78SiwKbx3SrQsERnXYJKaQ1Tkk37dv0d2itZfVkJ6215ItL2rXg/s2FdT4OluQmJ+5UkHb5MLqjWM04LQmFLcapWb9vo49zy+PgDu7gWxoHd3AH39I4uIM7+JbGwR38X4d/B5Ww4AOuqNhLAAAAAElFTkSuQmCC"
                     data-src="holder.js/46x46" style="width: 46px; height: 46px;">

                <div class="card-heading-header">
                    <h3>
                        <% if (post.title) { %>
                        <%= post.title %>
                        <% } %>
                    </h3>
                        <span>
                            <% if (post.source == 'wx'){ %>
                            <a title="发布于微信公众号[lovejog]">来源于微信</a>
                            <% } %>
                            <%= moment(post.posted).fromNow() %>
                        </span>
                </div>
            </div>
            <% if (post.content) { %>
            <div class="card-body">
                <p>
                    <%= post.content %>
                </p>
            </div>
            <% } %>

            <% if (post.sync == 1 && post.qiniu_img_url ) { %>
            <div class="card-media text-center">
                <a href="" class="card-media-container ">
                    <img src="<%= qiniu_host %>/<%= post.qiniu_img_url %>" class="img-responsive ">
                </a>
            </div>
            <% } else if (post.wx_imge_url) { %>
            <div class="card-media text-center">
                <a href="" class="card-media-container ">
                    <img src="<%= post.wx_imge_url %>" class="img-responsive ">
                </a>
            </div>
            <% } %>
            <div class="card-actions" >
                <form>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">+1</button>
                            <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <wb:comments url="auto" border="y" width="auto" skin="silver" appkey="1120024586" ></wb:comments>

    </div>


</div> <!-- /container -->
<body>
<%- include footer.html %>





