<%- include header.html %>
<!--main-->
<div class="container" id="main">
    <div class="row" id="ms-container">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-heading image">

                    <a href=""> <img src="/images/photo.jpg" class="media-object" />
                    </a>

                    <div class="card-heading-header">
                        <h3>
                            <% if (post.title) { %>
                            <%= post.title %>
                            <% } %>
                        </h3>
                        <span>
                            <% if (post.source == 'wx'){ %>
                            <a title="发布于微信公众号[lovejog]">来源于微信</a>
                            <% } %>
                            <%= moment(post.posted).fromNow() %>
                        </span>
                    </div>
                </div>
                <% if (post.content) { %>
                <div class="card-body">
                    <p>
                        <%= post.content %>
                    </p>
                </div>
                <% } %>

                <% if (post.sync == 1 && post.qiniu_img_url ) { %>
                <div class="card-media text-center">
                    <a href="" class="card-media-container ">
                        <img src="<%= qiniu_host %>/<%= post.qiniu_img_url %>" class="img-responsive ">
                    </a>
                </div>
                <% } else if (post.wx_imge_url) { %>
                <div class="card-media text-center">
                    <a href="" class="card-media-container ">
                        <img src="<%= post.wx_imge_url %>" class="img-responsive ">
                    </a>
                </div>
                <% } %>
                <div class="card-actions hide"  >
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button>
                                <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <wb:comments url="auto" border="y" width="auto" skin="silver" appkey="1120024586" ></wb:comments>

        </div>


    </div> <!-- /container -->
</div>

<script>
    window.shareData = {
        "imgUrl": "<%= qiniu_host %>/<%= post.qiniu_img_url %>",
        "fTitle": "<%= post.content?post.content:'' %>",
        "fContent":  "<%= post.content?post.content:'' %>",
        "tTitle":  "<%= post.content?post.content:'' %>",
        "tContent":  "<%= post.content?post.content:'' %>",
        "sendFriendLink": window.location.href,
        "timeLineLink": window.location.href
    };

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function(argv) {
            WeixinJSBridge.invoke('sendAppMessage', {
                "img_url": window.shareData.imgUrl,
                "img_width": "640",
                "img_height": "640",
                "desc": window.shareData.fContent,
                "title": window.shareData.fTitle,
                "link": window.shareData.sendFriendLink
            }, function(res) {
                _report('send_msg', res.err_msg);
            });
        });

        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function(argv) {
            WeixinJSBridge.invoke('shareTimeline', {
                "img_url": window.shareData.imgUrl,
                "img_width": "640",
                "img_height": "640",
                "desc": window.shareData.tContent,
                "title": window.shareData.tTitle,
                "link": window.shareData.timeLineLink
            }, function(res) {
                _report('timeline', res.err_msg);
            });
        });
    });
</script>
<%- include footer.html %>





