/* custom google plus style theme */
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color:#e0e0e0;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

.logo{
    height: 40px;
}
.navbar-brand{
    padding:2px;
}
.navbar-default {background-color:#f4f4f4;margin-top:50px;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;font-weight:800;background-color:transparent;}
.navbar-default .dropdown-menu {background-color:#ffffff;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}

.header {background-color:#F4F4F4;border-width:0;}
.header .navbar-collapse {background-color:#F4F4F4;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff,border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}

hr {border-color:#ececec;}
button {
    outline: 0;
}
textarea {
    resize: none;
    outline: 0;

}
.panel .btn i,.btn span{
    color:#666666;
}
.panel .panel-heading {
    background-color:#ffffff;
    font-weight:700;
    font-size:16px;
    color:#262626;
    border-color:#ffffff;
}
.panel .panel-heading a {
    font-weight:400;
    font-size:11px;
}
.panel .panel-default {
    border-color:#cccccc;
}
.panel .panel-thumbnail {
    padding:0;
}
.panel .img-circle {
    width:50px;
    height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
    border-radius:0;
}
h3,h4,h5 { 
    border:0 solid #efefef; 
    border-bottom-width:1px;
    padding-bottom:10px;
}
h3{
    border-bottom-width:0px;
}
.modal-dialog {
    width: 450px;
}

.modal-footer {
    border-width:0;
}

.dropdown-menu {
    background-color:#f4f4f4;
    border-color:#f0f0f0;
    border-radius:0;
    margin-top:-1px;
}
/* end theme */

/* template layout*/
#subnav {
    position:fixed;
    width:100%;
}

@media (max-width: 768px) {
    #subnav {
        padding-top: 6px;
    }
}

#main {
    padding-top:60px;
}

.card {
    padding-top: 10px;
    margin: 0px 0 20px 0;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 0 20px;
    margin: 0;
    background-color: #F5F5F5;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    width: 240px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.card.hovercard img {
    width: 240px;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.card.hovercard .avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.hero-unit {
    padding: 60px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*icon*/
.photo{
    background:url(../images/icons.png) no-repeat scroll 0 -569px rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
    margin:0 8px;
}

.text{
    background:url(../images/icons.png) no-repeat scroll 0 -196px rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
    opacity: 1;
    margin:0 8px;
}
.link{
    background:url(../images/icons.png) no-repeat scroll 0 -416px rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
    margin:0 8px;
}
.event{
    background:url(../images/icons.png) no-repeat scroll 0 -391px rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
    margin:0 8px;
}

.lp{
    opacity: 0.4;
}


.m7 {
    height: 19px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}

.Bn {
    word-wrap: break-word;
}

.mB {
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0;
}


.Be .l7 {

    border-top: 10px solid #FFFFFF;

    margin-top: -2px;
}
.comment-form-btns{
    margin:5px 0px;
}
.comment-form{
    margin-top: 10px;
    display:none;
}
.card-comments{
    margin-bottom: 0px
}
.card{
    padding-bottom: 0px;
}
.form-group{
    margin-bottom: 0px;
    padding-bottom: 15px;
}



body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#header{
    background: #f7f7f7;
    border-bottom: 1px solid #DDD;

}
#header_content{
    border: 1px solid #f7f7f7;

}
#back{
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
}
.list-group-item:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: none;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0;
    border-bottom: none;
}
.list-group-item{
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-cards .list-group-item{
    border-left: none;
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-cards .list-group-item:last-child{
    border-bottom: 1px solid #DDDDDD;
}

.list-cards a.list-group-item:hover{
    background-color: #fff;
}
#nav_tab > li{
    min-width: 100px;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    background-color: #f7f7f7;
    border: none;
}

#nav_tab  > li > a,#nav_tab  > li > a:hover{
    border-radius: 0;
    border-top:none;
    border-right:none;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin-right: 0px;
    text-align: center;

}

#nav_tab  > li.active > a,#nav_tab  > li.active > a:focus,#nav_tab  > li.active > a:hover{
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;

}